### Kovaryans :

En az 2 değişkenini birlikte ne kadar değiştikleri yani beraber değişimleri inceleyen bir değişkenlik ölçüsüdür. Yani değiikenlerden biri artarken diğeri artıyorsa pozitif yönlü kovaryans, biri artarken diğeri azalırsa o zaman negatif yönlü bir kovaryans durumu vardır.

Cov(x,y) = 0 => değişkenler arasında herhangi bir ilişki yoktur.
Cov(x,y) > 0 => değişkenler arasında pozitif yönlü bir ilişki vardır.
Cov(x,y) < 0 => değişkenler arasında negatif yönlü bir ilişki vardır.

Kovaryans değişkenler arasında ki ilişkinin yönünü belirler, Korelasyon ise değişkenler arasında ki ilişkinin şiddetini belirleyen katsayıdır.

Soru : İki tane serimiz olsun .
x = [5,6,7,8,9]
y = [6,9,11,16,18]
Cov(x,y) = ?

1. adım :
x serisinin ortalaması bulunur = 7
y serisinin ortalaması bulunur = 12
2. Adım : 
x - x_ort = [-2, -1,  0,  1,  2]
y-y_ort = [-6, -3, -1,  4,  6]
3.adım : 
(x - x_ort) * (y - y_ort) = [12,  3, 0,  4, 12]
4.Adım : 
(x - x_ort) * (y - y_ort) = [12,  3, 0,  4, 12] => bulunan serinin toplamını alalım 12+3+0+4+12 = 31
5.Adım : 
x ' in ve y' nin eleman sayısı 5 ' tir.
31/5 = 6.1 Cov(x,y) = 6.1 dir. yani bu iki değişken arasında pozitif bir ilişki vardır.

### Korelasyon :

Değişkenler arasında ki ilişkinin şiddetini inceler. Katsayı olarak adlandırılır. 2 değişken varsa basit korelasyon, 2 den fazla değişken arasındaki ilişki incelenmekteyse çoklu korelasyon kullanılır.

Örneğin : Bir öğrencinin derse çalışma saati ile o dersten elde ettiği başarı notu. Burda çalışam saati bağımsız değikendir, alacağı not ise bağımlı değikendir. Çünkü çalışacağı saat sayısı alacağı notu etkileyecektir. 
p ile gösterilir.
-1 <= p <= 1 arasında değer alır.
-0.5<= p <= 0.5 arasında değer alırsa orta şiddette bir korelasyon vardır.
p = 0 ise değişkenler arasında ilişki yoktur.

Soru : x = [10,15,16,22,25,28,29,40,45,50] serisi ile y = [5,12,15,20,10,26,25,38,42,47] serisi arasında ki korelsyon şiddet ilişkisini bulalım. 

1.adım : 
x_ort = 28
y_ort = 24
2. adım : 
x - x_ort = [-18, -13, -12,  -6,  -3,   0,   1,  12,  17,  22]
y - y_ort = [-19, -12,  -9,  -4, -14,   2,   1,  14,  18,  23]
3.Adım : 
(x - x_ort)**2 = [324, 169, 144,  36,   9,   0,   1, 144, 289, 484] => sonuçların toplamı = 1600
(y - y_ort)**2 = [361, 144,  8.,  16, 196,   4,   1, 196, 324, 529] => sonuçların toplamı = 1852
4. Adım : 
(x - x_ort) * (y - y_ort) = [342, 156, 108, 24, 42, 0, 1, 168, 306, 506] => sonuçların toplamı = 1653
5.Adım : 
(1653) / ((1600*1852)**0.5) = 0.96 => aralarında pozitif yönlü çok güçlü bir korelasyon vardır.

In [18]:
import pandas as pd
import numpy as np

In [19]:
# Betimsel istatistik : 
# tips veri setini betimleme yapalım 
import seaborn as sns
df = sns.load_dataset("tips")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [21]:
df.describe().T
# count eleman sayısı
# mean ortalama
# std standart sapması
# min en küçük değeri
# max en büyük değeri
# %25 Q1 1. çetrek değeri
# %50 median değeri
# %75 Q3 3. çeyrek değeri

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

In [24]:
# bir başka betimleme kütüphanesi
!pip install researchpy
import researchpy as rp

Requirement already satisfied: researchpy in c:\programdata\anaconda3\lib\site-packages (0.3.2)
Requirement already satisfied: scipy in c:\programdata\anaconda3\lib\site-packages (from researchpy) (1.5.2)
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (from researchpy) (1.19.2)
Requirement already satisfied: statsmodels in c:\programdata\anaconda3\lib\site-packages (from researchpy) (0.12.0)
Requirement already satisfied: patsy in c:\programdata\anaconda3\lib\site-packages (from researchpy) (0.5.1)
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (from researchpy) (1.1.3)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from patsy->researchpy) (1.15.0)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\programdata\anaconda3\lib\site-packages (from pandas->researchpy) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\programdata\anaconda3\lib\site-packages (from pandas->researchpy) (2020.1)

In [25]:
rp.summary_cont(df[["tip","total_bill","size"]])
# N eleman sayısı
# Mean ortalama
#SD standart sapma
# SE standart hata
# 95%Conf. yüzde 95 güven aralığı alt sınırı
# %95 güven aralığı üst sınır

     Variable      N     Mean      SD      SE  95% Conf.  Interval
0         tip  244.0   2.9983  1.3836  0.0886     2.8238    3.1728
1  total_bill  244.0  19.7859  8.9024  0.5699    18.6633   20.9086
2        size  244.0   2.5697  0.9511  0.0609     2.4497    2.6896

In [27]:
rp.summary_cat(df[["sex","smoker"]])
# kategorik değişkenler için
# Percent yüzde 64 ü male, %35 i Female demektir. aynı şekilde %61 i smoker no, %38 i smoker yes.

  Variable Outcome  Count  Percent
0      sex    Male    157    64.34
1           Female     87    35.66
2   smoker      No    151    61.89
3              Yes     93    38.11

In [28]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [29]:
# örneğin ödenen ücret ile verilen bahşiş arasında ki kovaryans durumunu hesaplayalım.
df["total_bill"].cov(df["tip"])
# ödenen hesap ile verilen bahşiş arasında ki kovaryans değeri 8.32

8.323501629224856

In [30]:
# ödenen hesap ile verilen bahşiş arasında ki korelasyon katsayısını hesaplayalım.
df["total_bill"].corr(df["tip"])
# aralarında 0.67 yani güçlü bir pozitif yönlü bir ilişki var demektir.

0.6757341092113646