## GÜVEN ARALIKLARI :

In [19]:
import numpy as np
import pandas as pd

Örneklem : Populasyon ile ilgili karar alacağımız zaman populasyon içinden belli bir kurala göre veya rastgele 1 veya daha fazla örneklem çekip, bu örneklemlerin üzerinde yaptığımız işlemlere göre populasyon ile ilgili bir çıkarımda bulunabiliriz.

Çoğu zaman populasyon ile ilgili çıkarımlar yapmak oldukça zor veya imkansız olmaktadır. Örneğin seçim anketi yapılacak biz bu seçim anketini herkese yapamayız. Rastgele 1000 kişi seçip onlara seçim anketi yaptığımızda belli bir oran buluruz ve aşşağı yukarı seçim sonucu hakkında bir tahmin aralığı buluruz. İşte buna Güven aralığı denir.

Ne kadar çok örneklem yaparsak o kadar çok populasyon değerlerine yaklaşırız.

Örneğin tr de ki seçimler için anket çalışması yapıyoruz. rastgele 1000 kişilik bir örneklem belirledik ve anket yaptık. sonuçları kaydettik. yine rastgele 10 adet 1000 tane örneklem çektik ve sonuçlarını kaydettik. 10 tane örneklemin sonuçları populasyon değerlerine daha yakın olacaktır.

Güven aralığı hesaplanırken :
1. adım : örneklem eleman sayısını bulun. Örneklem ortalamasını bulun ve örneklemin standart sapmasını bulun.
2. Adım : eğer populasyonun varyans değeri biliniyorsa populasyon ortalaması için güven aralığı testi yapılırken alfa değerini bulmak için z tablo değeri kullanılır. Eğer populasyonun varyans değeri bilinmiyor ve n<30 ise t tablo değeri, n>=30 ise z tablo değeri ile alfa değeri hesaplanır.
3. Adım : Güven aralığı değerine karar verilir yani %95 mi, %99 mu. Genelde %95 güven testi yapılır. %95 in z tablo değeri 1.96 dır. % 99 un z tablo değeri 2.57 dir.
4. Adım : x+- z*(s/n**0.5) ile hesaplanır.

POPULASYON VARYANSI BİLİNİYORKEN : 

ör : Bir okulda ki öğrencilerin haftalık ders çalışma süreleri hakkında yapılan araştırmada 25 öğrenciden seçilen örneklemin ortalama haftalık ders çalışma süresi 14.5 saattir. Bu okuldaki tüm öğrencilerin haftalık çalışma sürelerinin standart sapması 2 ise % 95 güven aralığı ile tüm öğrencilerin çalışma saatlerinin ortalama aralığını bulunuz.

a) %95 güven ile tüm öğrencilerin çalışma ortalama aralığı bulalım:

alfa değerini bulalım : 95/100 = 0.95, sonra 1-0.95 = 0.05, sonra 0.05/2 = 0.025, sonra 1-0.025 = 0.975 bulduk. sonra z tablosunu açıp 0.975 i tabloda buluruz. hangi satıra denk geliyorsa o değeri yazarız. 1.9 değerinin olduğu satıra denk geliyor. Sonra hangi sutuna denk geldiğine bakarız. 0.06 lık sutun değerine denk geliyor. z değerine 1.96 deriz.

hesaplayalım :
örneklem ortalaması = x = 14.5
alfa = 1.96
örneklem sayısı = n = 25
populasyon standart sapması = 2
14.5 - 1.96* 2/(25**0.5) < Populasyon Ortalaması < 14.5 + 1.96* 2/(25**0.5)
13.716 < M < 15.284 % 95 güven düzeyi ile populasyon ortalaması bu aralıkta.

POPULASYON VARYANSI BİLİNMİYORKEN : 
ör : Bir okulda ki öğrencilerin haftalık ders çalışma süreleri hakkında yapılan araştırmada 40 öğrenciden seçilen örneklemin ortalama haftalık ders çalışma süresi 14.5 saattir. Bu örneklemde ki öğrencilerin haftalık çalışma sürelerinin standart sapması 2 ise % 99 güven aralığı ile tüm öğrencilerin çalışma saatlerinin ortalama aralığını bulunuz.

a) %99 güven ile tüm öğrencilerin çalışma ortalama aralığı bulalım:
n= 40 
örneklem ort = x = 14.5
örneklem std = 2

99/100 = 0.99, 1-0.99 = 0,01/2 = 0.005, 1-0.005 = 0,995 in z tablo değeri = 2.57 dir. aslında tam 2.57 olmaz ama 2.57 yi çoğu yet kabul ediyor. tam değeri = 2.565 tir.

14.5 - 2.57*(2/(40**0.5)) < M < 14.5 + 2.57*(2/(40**0.5))
13.68 < M < 15.312 aralığı % 99 ile bu aralıktadır.

POPULASYON VARYANSI BİLİNMİYORKEN : 
ör : Bir okulda ki öğrencilerin haftalık ders çalışma süreleri hakkında yapılan araştırmada 15 öğrenciden seçilen örneklemin ortalama haftalık ders çalışma süresi 14.5 saattir. Bu örneklemde ki öğrencilerin haftalık çalışma sürelerinin standart sapması 2 ise % 90 güven aralığı ile tüm öğrencilerin çalışma saatlerinin ortalama aralığını bulunuz.

n = 15
örneklem standart sapması = s = 2
örneklem ort = x = 14.5
populasyon varyansı = bilinmiyor.
n < 30 o zaman alfa t table ile bulunacak.
90/100 = 0.9 , 1-0.9 = 0.1 , 0.1/2 = 0.05, t tablosunda sutun değeri 0.05 olan değeri buluyoruz. n = 15 ti 15-1 = 14 . satıra gidiyoruz. 0.05 değerinde ki sutun ve 14. satırın kesiştiği değeri buluyoruz.  alfa = 1.761

14.5 - 1.71*(2/(15**0.5)) < M < 14.5 + 1.71*(2/(15**0.5))
13.61 ve 15.383 değerleri arasında % 90 güven düzeyi ile.

In [20]:
# Şirketimizin genel müdürü fiyat belirleme konusunda bizden bir dayanak bulmamızı istiyor. Satıcı biziz. Alıcılara ürettiğimiz
# Bir ürün hakkında ne kadar ödersiniz diye soruluyor. Bu anket sonucunda bir fiyat belirlememiz isteniyor ama zarar da etmememiz
# gerekiyor. Öyle bir fiyat bulunmalı ki kar edelim ve müşteriler o fiyattan memnun kalsın.
# Burda üretim maliyet fiyatı belirleriz ve en yüksek kar fiyatımızı belirleriz, bu fiyatlar arasında müşterilere anket yaparız.
# bu anket sonucu verilen fiyatların ortalamalasını bulup güven aralıklarını buluruz.

# üretim fiyatı = 50 tl olsun
# maksimun kar fiyatı = 100 tl olsun. bu iki fiyat arasında 100 kişiye ne kadar ödeyeceklerini soralım, yani örneklem 100 kişi.
fiyatlar = np.random.randint(50,100,size=100)
fiyatlar.mean()

75.88

In [21]:
# sonrasında % 95 ile müşterilerimizin ödemek istediği fiyat aralığını python ile bulalım.
import statsmodels.stats.api as sms # statsmodel içinden stats, onun içinde api kütüphanesini import ettik.
sms.DescrStatsW(fiyatlar).tconfint_mean() # ortalamaya göre güven aralığı bulduk.
# örneklemde ki 100 müşterimizin %95 i 73 tl ve 78 tl arasında fiyat ödemek istemişler. Buna göre ürüne fiyat belirleriz.

(73.04480966766472, 78.71519033233527)

In [22]:
import seaborn as sns

In [23]:
tips = sns.load_dataset("tips")
df = tips.copy()
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [24]:
# Bizden ödenen hesaplarla alakalı bir bilgi isteniyor. Müdürümüz müşterilerin %95 inin hangi fiyatlar arasında hesap ödediklerini
# görmek istiyor. O aralığa göre bir fiyat belirlemesi yapmak istiyor.

In [25]:
import statsmodels.stats.api as sms

In [27]:
sms.DescrStatsW(df["total_bill"]).tconfint_mean()
# Müşterilerimizin %95 i 18.6 dolar ile, 20.90 dolar arasında hesap ödemişler.

(18.66333170435847, 20.908553541543164)

In [33]:
sms.DescrStatsW(df[["total_bill"]]).tconfint_mean()

(array([18.6633317]), array([20.90855354]))

In [38]:
sms.DescrStatsW(df[["tip"]]).tconfint_mean() # müşterilerin % 95inin ödediği bahşiş aralığı.

(array([2.82379931]), array([3.17275807]))

In [39]:
!pip install researchpy

Requirement already satisfied: researchpy in c:\programdata\anaconda3\lib\site-packages (0.3.2)
Requirement already satisfied: scipy in c:\programdata\anaconda3\lib\site-packages (from researchpy) (1.5.2)
Requirement already satisfied: patsy in c:\programdata\anaconda3\lib\site-packages (from researchpy) (0.5.1)
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (from researchpy) (1.1.3)
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (from researchpy) (1.19.2)
Requirement already satisfied: statsmodels in c:\programdata\anaconda3\lib\site-packages (from researchpy) (0.12.0)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from patsy->researchpy) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in c:\programdata\anaconda3\lib\site-packages (from pandas->researchpy) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\programdata\anaconda3\lib\site-packages (from pandas->researchpy) (2.8.1)

In [40]:
import researchpy as rp

In [41]:
rp.summary_cont(df[["total_bill","tip"]])

     Variable      N     Mean      SD      SE  95% Conf.  Interval
0  total_bill  244.0  19.7859  8.9024  0.5699    18.6633   20.9086
1         tip  244.0   2.9983  1.3836  0.0886     2.8238    3.1728

In [42]:
# değişken adı, N = gözlem sayıları, Mean=ortalama değeri, SD = standart sapma, SE = standart hata,
# 95% Conf. = güven aralığı alt sınırı, Interval = güven aralığı üst sınırı.

In [43]:
# categorik değişkenler içinde yapılabilir.
rp.summary_cat(df[["sex"]])
# Variable = "sutun adı", Outcome = "sutun içindeki değerler", Count = eleman sayısı, percent = yüzde kaçı erkek, kadın.

  Variable Outcome  Count  Percent
0      sex    Male    157    64.34
1           Female     87    35.66