### 1-) aritmetik ortalama :

seride ki tüm sayıların toplamının eleman sayısına bölünmesi ile bulunur.

In [1]:
import numpy as np

In [2]:
# ör : 13,10,15,12,17,13 elimizde bir dizi olsun bunun aritmetik ortalaması : 
(13+10+15+12+17+13)/6 # şeklinde bulunur.

13.333333333333334

In [3]:
# numpy ile bulmak istersek : 
x = np.array([13,10,15,12,17,13])
x.mean()

13.333333333333334

In [4]:
import pandas as pd

In [5]:
# pandas ile bulmak istersek : 
x = pd.Series(x)
x.mean()

13.333333333333334

### 2-) Medyan :

En ortada ki değerdir. Serinin en ortasında ki değeri bize verir. İlk önce seriyi küçükten büyüğe sıralarız, sonra en ortasındaki rakam bize medyan değerini verir.

n = eleman sayısı
n = tek sayı olsun. 
eleman sayısı tek olan serilerde medyan değerini bulmak için : 
(n+1)/2. sıraya denk gelen değer o serinin medyan değeridir. 
Örneğin : 13,10,15,12,17 serinin medyan değerini hesaplayalım.
n = 5
sonra küçükten büyüğe sıralayalım => 10,12,13,15,17
(5+1)/2 = 3
3. eleman 13'tür. o zaman bu serinin medyan değeri 13 tür.

n = çift ise : ((n/2) + ((n/2)+1))/2 .inci eleman medyan değeridir.
Örneğin : 13,10,15,12,17,14 serinin medyan değerini hesaplayalım.
n = 6 => 6 eleman sayısı çift
sonra küçükten büyüğe sıralayalım : 
10,12,13,14,15,17
((6/2) + ((6/2)+1))/2 = 3.5 . inci eleman => 13 ve 14 ün arasında (13+14)/2 = 13.5 medyan değeridir.

In [7]:
# numpy ile yapalım : 
a = np.array([13,10,15,12,17,14])
np.median(a)

13.5

In [8]:
np.median(x)

13.0

In [9]:
type(x)

pandas.core.series.Series

In [ ]:
# Not : elimizde ki veride eğer aykırı değişkenler varsa ortalama bizi yanıltabilir. o zaman medyan değeri bizim için seri 
# temsilinde daha mantıklıdır.

In [15]:
# Ör : 
x = pd.Series([13,10,15,12,17,12,19,16,11,12,190])

In [16]:
np.median(x)

13.0

In [17]:
x.mean()

29.727272727272727

Görüldüğü üzere serideki değerlere göre ortalama 30, medyan değeri ise 13 hakkında konuşacak olursak medyan değeri daha mantıklıdır. Çünkü diğer değerler 13 e daha yakındır. 30 a daha uzaktır.

#### 3-) Mod hesaplama :

Seride en çok tekrar eden değerdir. 
Ör : 13,10,15,12,17,12,19,16,11,12,10,11,10
Burda ki mod değeri 10 dur frekansı en fazla olan değer 10 dur.

In [18]:
import scipy.stats as sts

In [19]:
sts.mode([13,10,15,12,17,12,19,16,11,12,10,11,10])
# mod değeri 10 dur 3 kez tekrar etmiştir.

ModeResult(mode=array([10]), count=array([3]))

### 4-) Kartiller :

Seriyi küçükten büyüğe 4 eşit parçaya böler. Quartille olarak adlandırılır. Q1 => 1. çeyrek değeri, Q2=> median, Q3=> 3. çeyrek değeridir. 
Kartiller serinin merkezi eğilim ölçüleri ve dağılım ölçüleri hakkında bilgi verir.

Örneğin : 5,3,4,8,10,9,14 serisinin 1,3 ve 2. çeyrek değerlerini bulalım.
küçükten büyüğe sıralarız => 3,4,5,8,9,10,14
median = 8
Q1 = (4+5)/2 = 4.5
Q3 = (9+10)/2 = 9.5
Q2 = 8 median değeridir.

In [42]:
# numpy ile yapalım : 
a = np.array([5,3,4,8,10,9,14])
Q1 = np.quantile(a,0.25)
Q3 = np.quantile(a,0.75)
Q2 = np.quantile(a,0.50)
print(Q1)
print(Q3)
print(Q2)
print(np.median(a))

4.5
9.5
8.0
8.0

In [41]:
# pandas ile yapalım : 
df = pd.DataFrame([5,3,4,8,10,9,14])
Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)
Q2 = df.quantile(0.50)
print(Q1)
print(Q3)
print(Q2)

0    4.5
Name: 0.25, dtype: float64
0    9.5
Name: 0.75, dtype: float64
0    8.0
Name: 0.5, dtype: float64